.art{
    height: 500px;
    width: 300px;
    background-color: rgb(255, 0, 55);
    color: beige;
    border-radius: 15px;
    font-size: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
}
.art img{
    width: 200px;
    height: 250px;
    border-radius: 15px;
    justify-self: center;
  
}